
@{
}
<form  asp-action="Index" asp-controller="Home">
        <div class="mb-3">
  <label for="nameSurname" class="form-label">Ad Soyad</label>
  <input type="text" class="form-control" id="nameSurname" placeholder="Ad ve Soyadınızı Giriniz">
</div>

    <div class="mb-3">
  <label for="emailAdress" class="form-label">Email Adres</label>
  <input type="email" class="form-control" id="emailAdress" placeholder="name@example.com Şeklinde Mail Giriniz.">
</div>
    <div class="mb-3">
  <label for="subject class="form-label">Konu</label>
  <input type="text" class="form-control" id="subject" placeholder="Konu bilgisini giriniz.">
</div>
<div class="mb-3">
  <label for="message" class="form-label"Mesaj</label>
  <textarea class="form-control" id="message" rows="3" placeholder="Mesajınızı Giriniz."></textarea>
</div>
<button type="submit" class="btn btn-success">Gönder</button>
</form>
